//------------------------------------------------------------//
//Variablen

$colorMain: #6775e2;

$colorBeigeVeryBright: rgb(74, 72, 73);
$colorBeigeBright: #f9f1ec;

$colorGreyVeryBright: #e8e8e8;
$colorGreyBright: #bebebe;
$colorGreyMedium: #9f9f9f;
$colorGreyDark: #5a5a5a;

$boxShadowHomeButton: 1px 1px 10px 2px rgba(0, 0, 0, 0.20);
$boxShadowHover: 2px 2px 5px 0px rgba(0, 0, 0, 0.20);

$responsiveBreakVerySmall: 350px;
$responsiveBreakSmall: 500px;
$responsiveBreakMiddle: 650px;
$responsiveBreakBig: 800px;

$fontSizeBasic: 16;

$fontWeightRegular: 400;
$fontWeightlight: 300;
$fontWeightBold: 600;

//------------------------------------------------------------//
//Allgemein

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800');

.stopEvents {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stopGestures {
  opacity: 0;
  position: fixed;
  border: 2px solid red;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000000200000000;
  display: none;
}

.no-see {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  overflow: auto !important;

  b {
    font-weight: 600;
  }

  h1 {
    font-weight: 200;
    margin: 0;
  }

  *:not(ion-icon) {
    font-family: 'Open Sans', serif;
    font-weight: 200;
    letter-spacing: 0.01em;
  }

  .small-spacing {
    height: 10px;
  }

  .middle-spacing {
    height: 20px;
  }

  * {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  //Vertical Align
  .va1 {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: inherit;
  }

  .va2 {
    display: table-cell;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: inherit;
  }
}

//------------------------------------------------------------//
//Main Layout

body {

  ion-nav {
    overflow: visible;
  }

  ng-component.mainNavigation {
    overflow: visible;
  }

  ion-app.app-root {
    color: $colorGreyDark;
    background-color: $colorBeigeVeryBright;
    text-align: center;

    @media screen and (min-width: $responsiveBreakMiddle) {
      padding: 20px 20px 0;
      height: 100%;
      width: 100%;
    }

    .scroll-content {
      overflow: hidden;
    }
  }

  ng-component.app-root {
    min-width: 300px;

    text-align: left;
    position: relative;
    display: inline-block;

    @media screen and (min-width: $responsiveBreakMiddle) {
      display: block;
      margin: auto;
      max-width: 1300px;
      height: 95vh;
      box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.50);
    }
  }
}

.logoButton {
  z-index: 50000000000000;
  position: absolute;
  left: 30px;
  top: 20px;
  width: 130px;
  height: 130px;
  border-radius: 10px;
  border: 2px solid #7f7f7f;
  background-color: black !important;
  display: inline-block;
  background-image: url("../assets/img/logos/auraSonum2.png");
  background-size: 120%;
  background-position: top;

  @media screen and (max-width: $responsiveBreakMiddle) {
    width: 100px;
    height: 100px;
    left: 20px;
    top: 15px;
  }

  @media screen and (max-width: $responsiveBreakSmall) {
    width: 90px;
    height: 90px;
    left: 15px;
    top: 10px;
  }

  h1 {
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    color: white;
    letter-spacing: 3px;
    font-size: 8px;
  }
}

//------------------------------------------------------------//
//Header

ion-header.mainHeader {

  @media screen and (min-width: $responsiveBreakMiddle) {
    &:after {
      display: none;
    }
  }

  ion-navbar {
    height: 70px !important;
    overflow: visible;
    z-index: 100000000000000000000000000000000000000;

    .navbarButtonContainer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      align-items: start;
    }

    .toolbar-background {
      background-color: #6f696d;
    }

    .navbarButtonStrip {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 60px;

      @media screen and (min-width: $responsiveBreakMiddle) {
        margin-top: 4px;
      }

      .hsl-asm {
        position: relative;
        top: 2px;
        color: #aeaeae;
        left: 190px;
        font-size: 20px;
        @media screen and (max-width: $responsiveBreakMiddle) {
          left: 170px;
        }
      }

      .buttonGroupRight {
        margin-right: 8px;
        @media screen and (max-width: $responsiveBreakMiddle) {
          display: none;
        }
      }

      .hamburger-menu {
        z-index: 100000000000000000000000000000000000000;
        position: absolute;
        top: 15px;
        left: 87vw;
        display: none !important;

        @media screen and (max-width: $responsiveBreakMiddle) {
          display: block !important;
        }

        .icon-button-icon._hamburger {
          opacity: 0.5 !important;
          background-image: url("../assets/img/icons/menu.png");
        }

        .menu-list {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          border: 1px solid #dedede;
          border-radius: 5px;
          width: auto;

          button {
            white-space: nowrap;
            color: grey;
            font-size: 16px;
            text-transform: uppercase;
            background-color: #f1f1f1;
            margin: 0 !important;
            border-bottom: 1px solid #dedede;
            display: block;
            width: 100%;
            border-radius: 0 !important;
            padding: 15px 20px;
            &:last-child {
              border: 0;
            }
          }
        }
      }

      .icon-button {
        opacity: 0.5;
        display: inline-block;
        vertical-align: middle;
        box-shadow: none;
        height: auto;
        background-color: transparent;
        margin-right: 10px;
        border-radius: 40%;
        overflow: visible;
      }

      .icon-button-icon {
        display: inline-block;
        position: relative;
        background-size: 70%;
        border: 1px solid white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        overflow: hidden;

        &.active {
          background-color: black;
          border: 1px solid grey;
          box-shadow: inset 0 0 10px 5px black;
        }
      }

      .icon-button-icon._home {
        background-image: url("../assets/img/icons/home.png");
      }
      .icon-button-icon._TIC {
        background-image: url("../assets/img/icons/TIC.png");
        background-size: 100%;
      }
      .icon-button-icon._products {
        background-image: url("../assets/img/icons/products.png");
        background-size: 80%;
      }
      .icon-button-icon._repare {
        background-image: url("../assets/img/icons/repare.png");
      }
      .icon-button-icon._contact {
        background-image: url("../assets/img/icons/contact.png");
        background-size: 85%;
      }
      .icon-button-icon._retailer {
        background-image: url("../assets/img/icons/retailer.png");
      }
    }
  }
}

//------------------------------------------------------------//
//Content

ion-content {

  .fixed-content {
    margin-top: 200px;

  }
}

//------------------------------------------------------------//
//Slider

ion-slides .swiper-slide {
  justify-content: flex-start !important;
  align-items: flex-start;
  background-color: #d9d9d9;
  background-size: 100%;
}

.mainSlides {
  overflow: auto;
  border-top: 2px solid #838383;
}

.mainSlides ion-slide {
  overflow: auto;
}

.imageSliderContainer {

  .imageSlider {
    background-color: black;
    @media screen and (max-width: $responsiveBreakSmall) {
      padding: 30px 0;
    }

    .sliderImage {
      overflow: hidden;
      width: 100%;
      height: 600px;
      @media screen and (max-width: $responsiveBreakBig) {
        height: 400px;
      }

      @media screen and (max-width: $responsiveBreakMiddle) {
        height: 300px;
      }

      @media screen and (max-width: $responsiveBreakSmall) {
        height: 200px;
      }

      background-size: cover;
      &._1 {
        background-image: url("../assets/img/mainVisuals/mainVisuals.jpg")
      }
      &._2 {
        background-image: url("../assets/img/mainVisuals/mainVisuals2.jpg")
      }
      &._3 {
        background-image: url("../assets/img/mainVisuals/mainVisuals3.jpg")
      }
      &._4 {
        background-image: url("../assets/img/mainVisuals/mainVisuals4.jpg")
      }
      &._5 {
        background-image: url("../assets/img/mainVisuals/mainVisuals5.jpg")
      }
      &._6 {
        background-image: url("../assets/img/mainVisuals/mainVisuals6.jpg")
      }
    }
  }
}

//------------------------------------------------------------//
//Footer
ion-footer {
  border-top: 1px solid #cbcbcb;
  font-size: 12px;
  height: 40px;
  background-color: $colorGreyVeryBright;
  text-align: center;
  color: $colorGreyDark !important;

  p {
    margin: 0;
    margin-top: 1px;
  }

  a {
    color: $colorGreyDark !important;
    text-decoration: none;
  }
}

//------------------------------------------------------------//
//Header

.headerTitle {
  color: white;
  background-color: rgba(0, 0, 0, 0.57);
  font-weight: 200;
  padding: 20px 60px;
  position: absolute;
  font-size: 30px;
  right: 0;
  bottom: 0;
  letter-spacing: 5px;
}

#home .headerTitle {
  background-color: rgba(0, 0, 0, 0.76);
  font-size: 20px;
  top: 336px;
  bottom: auto;
  z-index: 100000000000;
  letter-spacing: 3px;
}

//------------------------------------------------------------//
//Content

ion-content {
  font-weight: 400;
}


.contentContainer {
  text-align: center;
  margin-top: 50px;
}

.contactContainer {
  vertical-align: top;
  display: inline-block;
  width: 400px;
  text-align: right;
  font-size: 15px;
  padding-right: 20px;

  p {
    margin: 0;
  }

  .picture {

  }

  h2 {
    margin: 0 !important;
    font-size: 30px;
    font-weight: 200;
  }
}

.picture {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-size: cover;

  &.header {
    width: 100%;
    height: 300px;
  }

  &._contact {
    background-image: url("../assets/img/pictures/contact.jpg");
  }
  &._map {
    background-image: url("../assets/img/pictures/map.jpg");
  }
  &._entwicklung {
    background-image: url("../assets/img/pictures/entwicklung.jpg");
  }
}

.slider-strip {
  display: block;
  position: relative;
  top: -5px;
  width: 100%;
  background-color: #6f696d;
  font-size: 15px;
  color: #b7b7b7;
  padding: 10px;
}

.footer-strip {
  display: block;
  position: relative;
  width: 100%;
  background-color: #6f696d;
  color: #b7b7b7;
  height: 20px;
}

#service, #home {
  .item-box {
    position: relative;
    left: -20%;
    width: 120%;
    padding-left: 22%;
  }
}

.the-content {
  padding: 30px 50px 60px;
  @media screen and (max-width: $responsiveBreakBig) {
    padding: 15px 20px 40px;
  }
  @media screen and (max-width: $responsiveBreakMiddle) {
    padding: 5px 10px 20px;
  }
  @media screen and (max-width: $responsiveBreakSmall) {
    padding: 5px 5px 20px;
  }

  .item-box {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
    margin-bottom: 40px;
    font-size: 0;
    background-color: $colorGreyVeryBright;
    padding: 20px;

    &.less-margin {
      margin-bottom: 0;
    }

    .row {
      position: relative;
      text-align: left;
      min-height: 200px;
      padding-left: 310px;
      &.no-picture {
        padding-left: 0 !important;
      }
      @media screen and (max-width: $responsiveBreakBig) {
        padding-left: 250px;
      }
      @media screen and (max-width: $responsiveBreakMiddle) {
        padding-left: 200px;
        min-height: 180px;
      }
      @media screen and (max-width: $responsiveBreakSmall) {
        padding-left: 0;
        padding-top: 190px;
        min-height: 150px;
      }

      .picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        height: 200px;
        margin-right: 120px;

        @media screen and (max-width: $responsiveBreakMiddle) {
          width: 170px !important;
          height: 170px !important;
        }
        &._1 {
          background-image: url("../assets/img/pictures/focus_1.jpg");
        }
        &._2 {
          background-image: url("../assets/img/pictures/focus_2.jpg");
        }
        &._3 {
          background-image: url("../assets/img/pictures/focus_3.jpg");
        }

        &:after {
          content: "";
          border-left: 1px solid #858585;
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -60px;
          @media screen and (max-width: $responsiveBreakBig) {
            display: none;
          }
        }
      }

      .text-box {
        display: inline-block;
        vertical-align: top;
        height: auto;
        width: 100%;
        font-size: 14px;
        position: relative;
        padding-right: 20px;

        h2, h1 {
          text-transform: uppercase;
          letter-spacing: 0.15em;
          font-weight: 200;
          color: $colorGreyMedium;
          font-size: 30px;
          margin: 0 0 8px;
        }
        h1 {
          font-size: 40px;
        }
        .line {
          display: inline-block;
          position: relative;
          top: -4px;
          width: 60px;
          border-bottom: 3px solid #c6c6c6;
        }
        p {
          margin: 5px 0;
          letter-spacing: 0.5px;
          color: #212121;
        }
        span {
          margin-left: 10px;
          font-size: 0.8em;
          font-style: italic;
        }

        .text-link {
         color: grey;
        }
      }
    }
  }


  .link-box {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #f5f5f5 0%, #c8c8c8 100%);
    font-weight: 500;
    color: $colorGreyDark;
    padding: 20px 0;
    //transition: color 0.5s;
    cursor: pointer;
    @media screen and (max-width: $responsiveBreakMiddle) {



    }

    &:hover {
      color: #818181;
    }
  }
}

ion-icon {
  font-size: 0.8em;
  position: relative;
  margin-left: 5px;
}

//---------------------------------//
//Produkte

#produkte, #retailer {

  ._prismaBackground {
    background-color: $colorGreyDark;
    height: 120px !important;
    background-image: url("../assets/img/pictures/panorama.jpg");
    background-position-y: 90%;
  }

  .picture._prisma, .picture._tonika {
    position: absolute;
    right: 0;
    top: 4vh;
    background-image: url("../assets/img/pictures/prisma_8.png");
    background-size: contain;
    background-position: top;
    height: 60vw;
    max-height: 800px;
    width: 30vw;
    z-index: 500000000000;
  }

  .picture._tonika {
    background-image: url("../assets/img/pictures/tonika_1.png");
    height: 35vw;
  }

  .the-content {

    b {
      //font-weight: 600;
    }

    .item-box {
      position: relative;
      padding: 50px;

      .text-box.thin {
        max-width: 50%;
        @media screen and (max-width: $responsiveBreakBig) {
          max-width: 100%;
        }
      }

      .row {
        padding: 0;
        width: 100%;
        min-height: auto;
        margin-bottom: 40px;

        &.has-picture-right {
          width: 65%;
        }

        &.has-picture-left {
          padding-left: 240px;
          width: 100%;
          @media screen and (max-width: $responsiveBreakSmall) {
            padding: 200px 0 0;
          }
          .picture {
            //height:
            //border: 1px solid red;
          }

          .picture:after {
            display: none;
          }
        }

        &.table {
          @media screen and (max-width: $responsiveBreakSmall) {
            width: 100% !important;
          }
        }

        &.tech-detail {
          min-height: 150px;
          margin-bottom: 30px;

          .picture {
            width: 150px !important;
            height: 150px !important;
            &:after {
              display: none;
            }
          }
          .text-box {
            max-width: 500px;
            padding-left: 200px;
            @media screen and (max-width: $responsiveBreakSmall) {
              padding: 180px 0 0;
              width: 100%;
            }
            .line {
              display: none;
            }
          }
        }
      }

      h1 {
        font-size: 35px;
        line-height: 20px;
        small {
          color: grey;
          font-size: 16px;
          text-transform: none;
        }
        @media screen and (max-width: $responsiveBreakSmall) {
          font-size: 25px;
        }
      }

      h3 {
        margin: 0;
      }

      table.tech-table {
        font-size: 12px;
        text-align: left;
        max-width: 600px;

        .diagramm {
          font-size: 0.7em;
          letter-spacing: 0.05em;
          position: relative;
          top: -7px;
          display: inline-block;
          border: 1px solid grey;
          padding: 3px 15px;
          border-radius: 5px;
          float: right;
          color: grey;
          text-decoration: none;
          margin-top: 10px;

        }

        th, td {
          border: 1px solid $colorGreyDark;
          padding: 2px 10px;
          &:first-child {
            border-left: none;
            width: 40%;
          }
          &:last-child {
            border-right: none;
          }
        }

        th {
          border-top: none;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          font-size: 1.6em;
          //line-height: 30px;
        }

        tr:last-child td {
          border-bottom: none;
        }
      }
      .table-appendix {
        font-size: 0.8em;
        font-style: italic;
      }
    }
  }

  .buttonLike {
    cursor: pointer;
  }

  .picture._color {
    background-image: url("../assets/img/pictures/color.jpg");
  }

  .picture._farben {
    background-image: url("../assets/img/pictures/farben.jpg");
  }

  .picture._backsite {
    background-image: url("../assets/img/pictures/anschluss.jpg");
  }

  .picture._anschluss {
    background-image: url("../assets/img/pictures/anschluss.jpg");
  }

  .picture._rueckseite {
    background-image: url("../assets/img/pictures/rueckseite.png");
    background-size: contain;
    //border: 1px solid red;
    height: 100%;
  }
}

// ---------------------------------//
//Service
#service {

  .text-box._moreText {
    max-width: 60%;
  }

  .picture._ankauf {
    background-image: url("../assets/img/pictures/ankauf.jpg");
  }

  .picture._support {
    background-image: url("../assets/img/pictures/support.png");
    background-size: contain;
  }
  .picture._support2 {
    background-image: url("../assets/img/pictures/support2.png");
    background-size: contain;
  }
  .picture._service {
    background-image: url("../assets/img/pictures/service.jpg");
  }

}

.noLinkStyle {
  color: inherit !important;
  text-decoration: none !important;
}

// ---------------------------------//
//Kontakt

#kontakt {

  .line {
    width: 10%!important;
    margin-bottom: 5px!important;
  }

  .picture.header {
    position: relative;
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .item-box {
    padding: 30px;
  }

  //.row.shop {
  //  padding-top: 30px;
  //  padding-bottom: 30px;
  //}

  .item-box.contact, .item-box.shop {
    height: auto;

    .picture._contact, .picture.shop {
      position: relative;
      display: inline-block;
      width: 300px !important;
      min-width: auto;
      max-width: none;
      min-height: auto;
      max-height: none;
      height: 200px;

      &._rohrer, &._loeffel {
        height: 100px;
        background-color: #cbcbcb;
      }
    }

    .text-box {
      padding-left: 70px;
      height: auto;
      min-height: auto;

      h2 {
        font-size: 25px;
      }
    }
  }

  .line {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .picture.logo-kontakt {
    position: relative;
    border: none;
    overflow: hidden;
    border-radius: 6px;
    background-color: #d5d5d5;
    display: block;
    height: 110px !important;
    width: 220px;
    min-height: 1px;
    background-size: 80%;
    background-image: url("../assets/img/logos/auraSonum3.png");
    margin-bottom: 20px;
  }

  .picture._contact, .picture._rohrer, .picture._loeffel {
    width: 280px;
    @media screen and (max-width: $responsiveBreakMiddle) {
      width: 200px;
    }
    &:after {
      display: none;
    }
  }

  .row.shop {
    min-height: auto;
    @media screen and (max-width: $responsiveBreakSmall) {
      padding-top: 120px;
    }
    .picture._rohrer, .picture._loeffel {
      background-color: #dedede;
      height: 100px;
      @media screen and (max-width: $responsiveBreakBig) {
        width: 200px !important;
      }
      @media screen and (max-width: $responsiveBreakMiddle) {
        height: 100px !important;
        width: 200px !important;
      }
    }
  }

  .picture._rohrer {
    background-image: url("../assets/img/pictures/reseller_Rohrer.png");
    background-size: contain;
  }
  .picture._loeffel {
    background-image: url("../assets/img/pictures/reseller_loeffel.png");
    background-size: contain;
  }

  b {
    font-weight: 600;
  }

  .row.login {
    padding-left: 10px;
  }

  .row.login {
    padding-left: 30px;
    max-width: 100%;
    @media screen and (max-width: $responsiveBreakSmall) {
      padding: 0;
    }
  }

  input {
    padding: 5px 10px;
    font-size: 0.9em;
  }

  .smallLabel {
    font-size: 0.9em;
  }

  .errorMessage {
    margin-top: 20px;
    color: red;
  }

}

//---------------------------------//
//Händler

#retailer {

  .item-box {
    padding-top: 30px !important;
    padding-bottom: 10px !important;

    .row {

      h2 {
        font-size: 25px;
      }

      .text-box {
        display: block;
        position: relative;
        width: 100% !important;

        .table-container {
          //border: 1px solid red;
          overflow: auto;
          width: 100%;

          table.tech-table {
            max-width: 100%;
            //border: 1px solid blue;
            position: relative;
            width: 100%;
            font-size: 15px;

            & td:first-child {
              text-align: center;
            }

            th {
              text-transform: none;
              letter-spacing: 0.01em;
              font-size: 20px;
            }

            td, th {
              position: relative;
              padding: 12px;
            }

            td:first-child {
              height: 100px;
              width: 50px;
            }

            .table-picture {
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              display: block;
              height: 100%;
              width: 100%;
              background-size: contain;
              background-repeat: no-repeat;

              &._prisma {
                background-image: url("../assets/img/pictures/prisma_8.png");
                background-size: 20%;
              }
              &._tonika {
                background-image: url("../assets/img/pictures/tonika_1.png");
                background-size: 40%;
              }
            }
          }
        }
      }
    }
  }

  b {
    font-weight: 600;
  }

  .picture._retailer {
    background-image: url("../assets/img/pictures/retailer.jpg");
  }

}


.picture._farben {
  background-position-y: 0;
  background-size: 180%;
}
.go-top {
  vertical-align: top;
}
.more-width {
  width: 300px;
}

//---------------------------------//
//Modal

.modal {
  display: none;
  position: fixed;
  z-index: 1000000000000000000;
  padding-top: 1%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  /* Modal Content */
  .modal-content {
    position: relative;
    max-width: 700px;
    background-color: #e3e3e3;
    height: 98.5%;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    overflow: auto;
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  img {
    width: auto;
    //height: 90vh;
  }

}
